@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--secondary);
  --color-card-foreground: var(--secondary-foreground);
  --color-popover: var(--secondary);
  --color-popover-foreground: var(--secondary-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--border);
  --color-muted-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: #E57373;
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: #88806D;
  --foreground: #F8F5EF;
  --primary: #A7B5A2;
  --primary-foreground: #33322E;
  --secondary: #D9CBB6;
  --secondary-foreground: #33322E;
  --accent: #B27D62;
  --accent-foreground: #F8F5EF;
  --border: #A7B5A2;
  --input: #D9CBB6;
  --ring: #B27D62;

  --sidebar: #88806D;
  --sidebar-foreground: #F8F5EF;
  --sidebar-primary: #A7B5A2;
  --sidebar-primary-foreground: #33322E;
  --sidebar-accent: #B27D62;
  --sidebar-accent-foreground: #F8F5EF;
  --sidebar-border: #A7B5A2;
  --sidebar-ring: #B27D62;
}

.dark {
  --background: #33322E;
  --foreground: #F8F5EF;
  --primary: #A7B5A2;
  --primary-foreground: #F8F5EF;
  --secondary: #555042;
  --secondary-foreground: #F8F5EF;
  --accent: #B27D62;
  --accent-foreground: #F8F5EF;
  --border: #A7B5A2;
  --input: #555042;
  --ring: #B27D62;

  --sidebar: #33322E;
  --sidebar-foreground: #F8F5EF;
  --sidebar-primary: #A7B5A2;
  --sidebar-primary-foreground: #F8F5EF;
  --sidebar-accent: #B27D62;
  --sidebar-accent-foreground: #F8F5EF;
  --sidebar-border: #A7B5A2;
  --sidebar-ring: #B27D62;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .title {
    @apply font-semibold text-lg;
  }
}
